<form class="password-reset-form">
    <div class="logo__img">
      <img src="logo.png" alt="">
    </div>
    <div class="title">
      <h2 class="font-baloo">Đăng nhập</h2>
      <p>Log in to unlock tailored content and stay connected with your community.</p>
    </div>
  
    <div class="auth-form__inputs">
      <input type="text" class="auth-form__input" placeholder="Tên đăng nhập hoặc email" name="username">
      <input type="password" class="auth-form__input" placeholder="Mật khẩu" name="password">
    </div>
    <div class="text__bottom__input">
     <a routerLink="/auth/forgot-password">Forgot your password?</a>
    </div>
  
    <button class="auth__button font-baloo">
      Đăng nhập
    </button>
  

      
    <div class="bottom_button">Hoặc bằng đăng nhập</div>
  
    <div class="brand">
      <i class="fa-brands fa-facebook fa-lg" style="color:#1877F2"></i>
      <i class="fa-brands fa-google fa-lg" style="color:#EA4335"></i>
      <i class="fa-brands fa-chrome fa-lg" style="color:#4CAF50"></i>
    </div>
  
    <div class="text__bottom">
      <p>Bạn đã có tài khoản?</p> <a routerLink="/auth/register">Đăng kí</a>
    </div>
  </form>
  