

  <form class="password-reset-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="logo__img">
      <img src="logo.png" alt="">
    </div>
    <div class="title">
      <h2 class="font-baloo">Đăng ký</h2>
      <p>Log in to unlock tailored content and stay connected with your community.</p>
    </div>
    
    <div class="auth-form__inputs">
      <input type="email" 
      id="email" 
      formControlName="email" 
      class="auth-form__input" 
      placeholder="Tên đăng nhập hoặc email" 
      name="email">

      <input type="password" 
      type="password"   
      id="password" 
      formControlName="password" 
      class="auth-form__input" 
      placeholder="Mật khẩu" 
      name="password">

      <input type="password" 
      id="" 
      class="auth-form__input" 
      formControlName="confirmPassword"
      placeholder="Nhập lại mật khẩu mới" 
      name="confirm_password">
    </div>
    
    <button class="auth__button font-baloo" type="submit">
      Đăng kí
    </button>
    
    <div class="bottom_button">Hoặc bằng đăng nhập</div>
    
    <div class="brand">
      <i class="fa-brands fa-facebook fa-lg" style="color:#1877F2"></i>
      <i class="fa-brands fa-google fa-lg" style="color:#EA4335"></i>
      <i class="fa-brands fa-chrome fa-lg" style="color:#4CAF50"></i>
    </div>
    
    <div class="text__bottom">
      <p>Bạn đã có tài khoản?</p> <a routerLink="/auth/login">Đăng nhập</a>
    </div>
  </form>
  