<form class="password-reset-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="logo__img">
    <img src="logo.png" alt="">
  </div>
  <div class="title">
    <h2 class="font-baloo">Đăng ký</h2>
    <p>Log in to unlock tailored content and stay connected with your community.</p>
  </div>

  <div class="auth-form__inputs">
    <input type="email" id="email" formControlName="email" class="auth-form__input" placeholder="Email" name="email">
    <app-validation-message [control]="registerForm.get('email')" fieldName="Địa chỉ Email">
    </app-validation-message>


    <input type="password" type="password" id="password" formControlName="password" class="auth-form__input"
      placeholder="Mật khẩu" name="password">
    <app-validation-message [control]="registerForm.get('password')" fieldName="Mật khẩu">
    </app-validation-message>



    <input type="password" id="" class="auth-form__input" formControlName="confirmPassword"
      placeholder="Nhập lại mật khẩu mới" name="confirm_password">
    <app-validation-message [control]="registerForm.get('confirmPassword')" fieldName="Mật khẩu nhập lại">
    </app-validation-message>



  </div>

  <app-button type="submit">
    Đăng ký
  </app-button>

  <div class="bottom_button">Hoặc bằng đăng nhập</div>

  <div class="brand">
    <i class="fa-brands fa-facebook fa-lg" style="color:#1877F2"></i>
    <i class="fa-brands fa-google fa-lg" style="color:#EA4335"></i>
    <i class="fa-brands fa-chrome fa-lg" style="color:#4CAF50"></i>
  </div>

  <div class="text__bottom">
    <p>Bạn đã có tài khoản?</p> <a routerLink="/auth/login">Đăng nhập</a>
  </div>
</form>