<form class="password-reset-form">
    <div class="logo__img">
      <img src="logo.png" alt="">
    </div>
    <div class="title">
      <h2 class="font-baloo">Quên mật khẩu</h2>
      <p>Log in to unlock tailored content and stay connected with your community.</p>
    </div>
  
    <div class="auth-form__inputs">
      <input type="text" class="auth-form__input" placeholder="Tên đăng nhập hoặc email" name="username">
    </div>
    <div class="text__bottom__input">
    <p>Chúng tôi sẽ gửi cho bạn tin nhắn về email của bạn. Vui lòng kiểm tra email để thiết lập mật khẩu.</p>
    </div>
  
   
  <app-button type="submit">
    Gửi mã về email
  </app-button>

      
    <div class="bottom_button">Hoặc bằng đăng nhập</div>
  
    <div class="brand">
      <i class="fa-brands fa-facebook fa-lg" style="color:#1877F2"></i>
      <i class="fa-brands fa-google fa-lg" style="color:#EA4335"></i>
      <i class="fa-brands fa-chrome fa-lg" style="color:#4CAF50"></i>
    </div>
  
    <div class="text__bottom">
      <p>Bạn đã có tài khoản?</p> <a routerLink="/auth/register">Đăng kí</a>
    </div>
  </form>
  