<div class="thong-bao">
    <div class="nen-auth">
      <img src="bg-auth.jpg" alt="background" />
    </div>
  
    <div class="thongbao-card">
      <button class="close-btn"><i class="fa-solid fa-xmark"></i></button>
  
      <div class="logo__img">
        <img src="logo.png" alt="Classroom Hub Logo" />
      </div>
  
      <hr />
  
      <h2 class="font-baloo">Đăng ký thành công</h2>
      <p>
        Bạn đã đăng ký thành công. Kiểm tra email để hoàn thành xác thực. Nếu bạn
        không tìm thấy nó, vui lòng kiểm tra thư mục spam của bạn.
      </p>
  
      <button class="submit-btn"><p class=" font-baloo">Bắt đầu ngay với classroom hub</p></button>
    </div>
  </div>
  