<div class="exercise">
  <!-- Sidebar trái -->
  <app-leftsidebar> </app-leftsidebar>

  <!-- Khu vực chính -->
  <div class="main__exercise">
    <!-- Thanh tìm kiếm -->
    <app-search></app-search>

    <!-- Danh sách bài tập -->
    <div class="exercise__list">
      <div class="exercise__item" *ngFor="let ex of exercises">
        <img [src]="ex.avatar" alt="avatar" />
        <div class="info">
          <h3>
            {{ ex.name }}<span>{{ ex.title }}</span>
          </h3>
          <div class="meta">
            <span class="tag orange">{{ ex.result }}</span>
            <span class="score">{{ ex.score }}</span>
            <span class="tag gray">{{ ex.level }}</span>
          </div>
        </div>
        <button class="start-btn" (click)="openModal()">
          Bắt đầu <i class="fa-solid fa-angle-right"></i>
        </button>
      </div>
    </div>
  </div>
  <!-- Cột phải -->
  <app-right-exercise></app-right-exercise>
  <app-modal-hoctap [isOpen]="showModal" (closed)="closeModal()"></app-modal-hoctap>
</div>
