<div class="exercise">
  <!-- Sidebar trái -->
  <app-leftsidebar>

  </app-leftsidebar>

  <!-- Khu vực chính -->
  <div class="main__exercise">
    <!-- Thanh tìm kiếm -->
    <app-search></app-search>

    <!-- Danh sách bài tập -->
    <div class="exercise__list">
      <div class="exercise__item">
        <img src="avatar.png" alt="avatar" />
        <div class="info">
          <h3>Hương Vân <span>• Hình chữ nhật dấu sao</span></h3>
          <div class="meta">
            <span class="tag orange">AC</span>
            <span class="score">100/100</span>
            <span class="tag gray">PY3</span>
          </div>
        </div>
        <button class="start-btn">Bắt đầu <i class="fa-solid fa-angle-right"></i></button>
      </div>

      <div class="exercise__item">
        <img src="avatar.png" alt="avatar" />
        <div class="info">
          <h3>Hương Vân <span>• Hình chữ nhật dấu sao</span></h3>
          <div class="meta">
            <span class="tag orange">AC</span>
            <span class="score">100/100</span>
            <span class="tag gray">PY3</span>
          </div>
        </div>
        <button class="start-btn">Bắt đầu <i class="fa-solid fa-angle-right"></i></button>
      </div>
      <div class="exercise__item">
        <img src="avatar.png" alt="avatar" />
        <div class="info">
          <h3>Hương Vân <span>• Hình chữ nhật dấu sao</span></h3>
          <div class="meta">
            <span class="tag orange">AC</span>
            <span class="score">100/100</span>
            <span class="tag gray">PY3</span>
          </div>
        </div>
        <button class="start-btn">Bắt đầu <i class="fa-solid fa-angle-right"></i></button>
      </div>
      <div class="exercise__item">
        <img src="avatar.png" alt="avatar" />
        <div class="info">
          <h3>Hương Vân <span>• Hình chữ nhật dấu sao</span></h3>
          <div class="meta">
            <span class="tag orange">AC</span>
            <span class="score">100/100</span>
            <span class="tag gray">PY3</span>
          </div>
        </div>
        <button class="start-btn">Bắt đầu <i class="fa-solid fa-angle-right"></i></button>
      </div>
      <div class="exercise__item">
        <img src="avatar.png" alt="avatar" />
        <div class="info">
          <h3>Hương Vân <span>• Hình chữ nhật dấu sao</span></h3>
          <div class="meta">
            <span class="tag orange">AC</span>
            <span class="score">100/100</span>
            <span class="tag gray">PY3</span>
          </div>
        </div>
        <button class="start-btn">Bắt đầu <i class="fa-solid fa-angle-right"></i></button>
      </div>
    </div>
  </div>

  <!-- Cột phải -->
  <app-right-exercise></app-right-exercise>
</div>