* {
    box-sizing: border-box;
}

header {
    box-shadow: 0 8px 10px -6px rgba(0,0,0,0.4);
    position: relative;
}

.boc-all {
    max-width: 1280px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header-main ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.header-main ul li {
    list-style: none;
    padding: 7px;
    transition: background 0.3s, color 0.3s;
}

.header-main ul li:hover {
    background: #5DC2A7;
    border-radius: 10px;
    color: #FFFFFF;
}

.action__option {
    border: 1px solid #FFFFFF;
    padding: 5px 10px;
    border-radius: 5px;
}

.header-icon {
    padding: 5px;
}

.img__header {
    max-width: 300px;
    width: 100%;
    margin-left: -80px;
}

.action {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
}

.profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}
i{
    padding: 10px;
}

@media (max-width: 768px) {
    .img__header {
        max-width: 200px;
    }
    .boc-all {
        padding: 0 15px;
    }
    .header-main ul {
        gap: 15px;
    }
}