/* Reset & Global */
* {
  box-sizing: border-box;
}
i {
  padding: 5px;
}

/* Header Layout */
header {
  box-shadow: 0 4px 4px #aaaaaa;
  position: relative;
  // position: sticky;
  // top: 0;
  // z-index: 100;
  // background: #fff;
}

.header {
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 80px;
}

.img__header {
  max-width: 250px;
  width: 100%;
  margin-left: -70px;
}

.action {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  align-items: center;
}

/* Menu */
.header-main ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  margin-left: -30px;
}

.header-main ul li {
  list-style: none;
  padding: 2px 7px; /* thu nhỏ padding */
  transition: background 0.3s, color 0.3s;
  border-radius: 10px;
}

.header-main ul li a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 1px;
  cursor: pointer;
  padding: 10px;
}

.header-main ul li:hover {
  background: #5dc2a7;
  border-radius: 10px;
  color: #ffffff;
}

.header-main ul li.active {
  background: #5dc2a7;
  border-radius: 10px;
  color: #ffffff;
}

/* Action Items */
.action__option {
  border: 1px solid #ffffff;
  padding: 50px 10px;
  border-radius: 5px;
}

.header-icon {
  padding: 5px;
}
.select__language {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img__language {
  width: 23px;
}

.profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

/* Responsive */
@media (max-width: 768px) {
  .img__header {
    max-width: 200px;
  }
  .header {
    padding: 0 15px;
  }
  .header-main ul {
    gap: 15px;
  }
}
