<div class="class-of-class">
  <div class="class-header">
    <img src="nen-lophoc.png" alt="" />
    <div class="info-header">
      <div class="header-left">
        <a href="/lop-hoc"><i class="fa-solid fa-angle-left"></i> Trở lại</a>
      </div>
      <div class="header-title">Toán 4 - N2 - 48799</div>
      <div class="input-search">
        <input type="text" placeholder="" />
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
    </div>
  </div>

  <div class="main">
    <img src="bg-auth.jpg" alt="" class="img-main" />

    <div class="content-wrapper">
      <div class="video-section">
        <img src="anh-ytb.png" alt="" class="video-thumbnail" />
        <p class="video-desc">Tìm số lớn nhất trong tập hợp số từ 1 - 100</p>
      </div>

      <div class="lesson-content">
        <h3>Nội dung bài học</h3>
        <div class="scroll-box">
          <h4>Sed ut perspiciatis</h4>
          <p>Consequuntur magni dolores eos qui ratione voluptate sequi nesciunt.</p>
          <h4>Nemo enim ipsam</h4>
          <p>
            Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil
            molestiae.
          </p>
          <h4>Sed ut perspiciatis</h4>
          <p>
            Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe
            eveniet.
          </p>
          <p>
            Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe
            eveniet.
          </p>
          <p>
            Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe
            eveniet.
          </p>
          <p>
            Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe
            eveniet.
          </p>
          <p>
            Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe
            eveniet.
          </p>
          <p>
            Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe
            eveniet.
          </p>
        </div>
        <button class="btn-apply">Bắt đầu bài tập áp dụng</button>
      </div>
    </div>
  </div>
</div>
