<div class="document">
    <app-leftsidebar></app-leftsidebar>
    <div class="main_content">
        <div class="search__top">
            <input type="text" placeholder="Tìm kiếm">
            <!-- <i class="fa-solid fa-magnifying-glass"></i> -->
            <select name="" id="" class="select-wrapper">
                <option value="">Mới nhất</option>
                <option value="">Old nhất</option>
                <option>Ngẫu nhiên</option>
            </select>
        </div>

        <div class="cart__grid">
            <div class="cart__items">
                <img src="bg-auth.jpg" alt="">
                <div class="info__items">
                    <div class="name__items">
                        <h4>Toán 4 - N2 - HAUGFAL</h4>
                        <div class="anh-long-anh">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                        </div>
                    </div>

                    <div class="info__time">
                        <p> <i class="fa-regular fa-clock"></i> 18:30, 20/10/2024</p>
                    </div>

                    <button>Xem chi tiết</button>
                </div>
            </div>
            <div class="cart__items">
                <img src="bg-auth.jpg" alt="">
                <div class="info__items">
                    <div class="name__items">
                        <h4>Toán 4 - N2 - HAUGFAL</h4>
                        <div class="anh-long-anh">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                        </div>
                    </div>

                    <div class="info__time">
                        <p> <i class="fa-regular fa-clock"></i> 18:30, 20/10/2024</p>
                    </div>

                    <button>Xem chi tiết</button>
                </div>
            </div>
            <div class="cart__items">
                <img src="bg-auth.jpg" alt="">
                <div class="info__items">
                    <div class="name__items">
                        <h4>Toán 4 - N2 - HAUGFAL</h4>
                        <div class="anh-long-anh">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                        </div>
                    </div>

                    <div class="info__time">
                        <p> <i class="fa-regular fa-clock"></i> 18:30, 20/10/2024</p>
                    </div>

                    <button>Xem chi tiết</button>
                </div>
            </div>
            <div class="cart__items">
                <img src="bg-auth.jpg" alt="">
                <div class="info__items">
                    <div class="name__items">
                        <h4>Toán 4 - N2 - HAUGFAL</h4>
                        <div class="anh-long-anh">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                        </div>
                    </div>

                    <div class="info__time">
                        <p> <i class="fa-regular fa-clock"></i> 18:30, 20/10/2024</p>
                    </div>

                    <button>Xem chi tiết</button>
                </div>
            </div>
            <div class="cart__items">
                <img src="bg-auth.jpg" alt="">
                <div class="info__items">
                    <div class="name__items">
                        <h4>Toán 4 - N2 - HAUGFAL</h4>
                        <div class="anh-long-anh">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                        </div>
                    </div>

                    <div class="info__time">
                        <p> <i class="fa-regular fa-clock"></i> 18:30, 20/10/2024</p>
                    </div>

                    <button>Xem chi tiết</button>
                </div>
            </div>
            <div class="cart__items">
                <img src="bg-auth.jpg" alt="">
                <div class="info__items">
                    <div class="name__items">
                        <h4>Toán 4 - N2 - HAUGFAL</h4>
                        <div class="anh-long-anh">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                        </div>
                    </div>

                    <div class="info__time">
                        <p> <i class="fa-regular fa-clock"></i> 18:30, 20/10/2024</p>
                    </div>

                    <button>Xem chi tiết</button>
                </div>
            </div>
            <div class="cart__items">
                <img src="bg-auth.jpg" alt="">
                <div class="info__items">
                    <div class="name__items">
                        <h4>Toán 4 - N2 - HAUGFAL</h4>
                        <div class="anh-long-anh">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                        </div>
                    </div>

                    <div class="info__time">
                        <p> <i class="fa-regular fa-clock"></i> 18:30, 20/10/2024</p>
                    </div>

                    <button>Xem chi tiết</button>
                </div>
            </div>
            <div class="cart__items">
                <img src="bg-auth.jpg" alt="">
                <div class="info__items">
                    <div class="name__items">
                        <h4>Toán 4 - N2 - HAUGFAL</h4>
                        <div class="anh-long-anh">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                        </div>
                    </div>

                    <div class="info__time">
                        <p> <i class="fa-regular fa-clock"></i> 18:30, 20/10/2024</p>
                    </div>

                    <button>Xem chi tiết</button>
                </div>
            </div>
            <div class="cart__items">
                <img src="bg-auth.jpg" alt="">
                <div class="info__items">
                    <div class="name__items">
                        <h4>Toán 4 - N2 - HAUGFAL</h4>
                        <div class="anh-long-anh">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                        </div>
                    </div>

                    <div class="info__time">
                        <p> <i class="fa-regular fa-clock"></i> 18:30, 20/10/2024</p>
                    </div>

                    <button>Xem chi tiết</button>
                </div>
            </div>
            <div class="cart__items">
                <img src="bg-auth.jpg" alt="">
                <div class="info__items">
                    <div class="name__items">
                        <h4>Toán 4 - N2 - HAUGFAL</h4>
                        <div class="anh-long-anh">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                        </div>
                    </div>

                    <div class="info__time">
                        <p> <i class="fa-regular fa-clock"></i> 18:30, 20/10/2024</p>
                    </div>

                    <button>Xem chi tiết</button>
                </div>
            </div>
            <div class="cart__items">
                <img src="bg-auth.jpg" alt="">
                <div class="info__items">
                    <div class="name__items">
                        <h4>Toán 4 - N2 - HAUGFAL</h4>
                        <div class="anh-long-anh">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                        </div>
                    </div>

                    <div class="info__time">
                        <p> <i class="fa-regular fa-clock"></i> 18:30, 20/10/2024</p>
                    </div>

                    <button>Xem chi tiết</button>
                </div>
            </div>
            <div class="cart__items">
                <img src="bg-auth.jpg" alt="">
                <div class="info__items">
                    <div class="name__items">
                        <h4>Toán 4 - N2 - HAUGFAL</h4>
                        <div class="anh-long-anh">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                            <img src="avatar.png" alt="">
                        </div>
                    </div>

                    <div class="info__time">
                        <p> <i class="fa-regular fa-clock"></i> 18:30, 20/10/2024</p>
                    </div>

                    <button>Xem chi tiết</button>
                </div>
            </div>
        </div>
        <div class="pagination">
            <button><i class="fa-solid fa-angles-left"></i></button>
            <button><i class="fa-solid fa-angle-left"></i></button>
            <button class="active">1</button>
            <button><i class="fa-solid fa-angle-right"></i></button>
            <button><i class="fa-solid fa-angles-right"></i></button>
        </div>
    </div>
    <div class="right-side">

        <app-remind></app-remind>
    </div>

</div>