<div class="document">
  <app-leftsidebar></app-leftsidebar>
  <div class="main_content">
    <app-search></app-search>

    <div class="cart__grid">
      <!-- Sử dụng *ngFor để lặp qua mảng classes -->
      <div class="cart__items" *ngFor="let item of classes">
        <img [src]="item.bgImage" alt="Background" />
        <div class="info__items">
          <div class="name__items">
            <h4>{{ item.name }}</h4>
            <div class="anh-long-anh">
              <!-- Lặp nội bộ cho avatar nếu cần động -->
              <img [src]="avatar" alt="Avatar" *ngFor="let avatar of item.avatars" />
              <!-- Nếu muốn hiển thị "+X" nếu >5:
              <span *ngIf="item.avatars.length > 5">+{{ item.avatars.length - 5 }}</span>
              -->
            </div>
          </div>

          <div class="info__time">
            <p><i class="fa-regular fa-clock"></i> {{ item.time }}</p>
          </div>

          <button (click)="viewDetails(item)">Xem chi tiết</button>
        </div>
      </div>
    </div>
    <app-paginate></app-paginate>
  </div>
  <div class="right-side">
    <app-remind></app-remind>
  </div>
</div>
