<div class="container">
  <div class="left__sidebar">
    <app-leftsidebar></app-leftsidebar>
  </div>

  <main class="main-content">
    <app-search></app-search>

    <div class="class-list">
      <div class="class-card" *ngFor="let item of [1, 2, 3, 4, 5, 6, 7]">
        <div class="card-body">
          <div class="card-header">
            <h3>Toán 4 - N2 - 24638742</h3>
            <div class="avatars">
              <img src="https://i.pravatar.cc/40?img=1" alt="" />
              <img src="https://i.pravatar.cc/40?img=2" alt="" />
              <img src="https://i.pravatar.cc/40?img=3" alt="" />
              <img src="https://i.pravatar.cc/40?img=4" alt="" />
            </div>
          </div>

          <div class="card-info">
            <div class="info-item"><i class="fa-solid fa-wifi"></i> Mặc định</div>
            <div class="info-item"><i class="fa-regular fa-user"></i> 100 người</div>
            <div class="info-item"><i class="fa-regular fa-clock"></i> 3 ngày 02:00</div>
          </div>
        </div>
        <div class="card-divider"></div>
        <!-- 👈 Border tách riêng -->

        <div class="card-footer">
          <span class="start-time">Bắt đầu: 12:57 18/05/2025</span>
          <button class="btn-join" (click)="openModal()">Tham gia lớp <i class="fa-solid fa-angle-right"></i></button>
        </div>
      </div>
    </div>
        <!-- Pagination -->
        <div class="pagination">
            <button><i class="fa-solid fa-angles-left"></i></button>
            <button class="active">Trước tiếp</button>
            <button><i class="fa-solid fa-angles-right"></i></button>
        </div>
  </main>

  <div class="right-side">
    <app-remind></app-remind>

    <app-modal-lophoc [isOpen]="showModal" (closed)="closeModal()"></app-modal-lophoc>
  </div>
</div>
