<div class="mission">
  <div class="mission__left">
    <h1 class="font-baloo">NHIỆM VỤ HÔM NAY</h1>
    <div class="tabs">
      <button class="tabs__item tabs__item--orange ">
        <p class="font-baloo">
          Thời gian
        </p>
      </button>
      <button class="tabs__item tabs__item--green ">
        <p class="font-baloo">
          Hoạt động
        </p>
      </button>
      <button class="tabs__item tabs__item--yellow ">
        <p class="font-baloo">
          Chủ đề
        </p>
      </button>
    </div>
    <textarea name="" id="" class="whiteboard"></textarea>
  </div>


  <div class="mission__right">

    <div class="notification">
      <div class="notification_header">
        <i class="fa-regular fa-bell"></i>
        <h3 class="font-baloo">Nhắc nhở</h3>
      </div>

      <div class="notification_info">
        <!-- item 1 -->
        <div class="notification_item">
          <div class="icon-box warning">
            <i class="fa-solid fa-triangle-exclamation"></i>
          </div>
          <div class="text__info">
            <p class="info__time">17h-08/01/2025</p>
            <p class="info__note">Nộp bài tập về nhà môn Toán học</p>
          </div><i class="fa-solid fa-chevron-right notification__arrow"></i>
        </div>

        <!-- item 2 -->
        <div class="notification_item">
          <div class="icon-box info">
            <i class="fa-solid fa-circle-info"></i>
          </div>
          <div class="text__info">
            <p class="info__time">17h-08/01/2025</p>
            <p class="info__note">Thông báo nộp bài tập môn Văn học</p>
          </div><i class="fa-solid fa-chevron-right notification__arrow"></i>
        </div>

        <!-- item 3 -->
        <div class="notification_item">
          <div class="icon-box danger">
            <i class="fa-solid fa-circle-exclamation"></i>
          </div>
          <div class="text__info">
            <p class="info__time">17h-08/01/2025</p>
            <p class="info__note">Thông báo quan trọng từ giáo viên</p>
          </div><i class="fa-solid fa-xmark notification__arrow"></i>
        </div>
      </div>

      <div class="notification__button">
        <button class="skip">Bỏ qua</button>
        <button class="confirm">Xác nhận</button>
      </div>
    </div>
  </div>
</div>