<div class="mission">
  <div class="mission__left">
    <h1 class="font-baloo">NHIỆM VỤ HÔM NAY</h1>
    <div class="tabs">
      <button class="tabs__item tabs__item--orange ">
        <p class="font-baloo">
          Thời gian
        </p>
      </button>
      <button class="tabs__item tabs__item--green ">
        <p class="font-baloo">
          Hoạt động
        </p>
      </button>
      <button class="tabs__item tabs__item--yellow ">
        <p class="font-baloo">
          Chủ đề
        </p>
      </button>
    </div>
    <textarea name="" id="" class="whiteboard"></textarea>
  </div>

  <app-remind></app-remind>

</div>