/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-baloo {
    font-family: 'Baloo Tammudu', Arial, sans-serif ;
    color: #5DC2A7;
    text-align: center;
  }