<div class="policy">
  <div class="title">
    <h1 class="font-baloo">QUY CHẾ <span class="font-baloo">CLASSROOM HUB</span></h1>
    <p>Quy chế lớp học agfalhioaulflnauygbnaiònadyvunàomhadvna</p>
  </div>
  <div class="classroom-hub">
    <div class="left-side">
      <!-- <div class="circle-yellow"></div> -->
      <div class="bg-circle big-pale"></div>
      <div class="bg-circle teal-small"></div>
      <div class="dot orange-dot"></div>
      <div class="student">
        <img src="policy-human.png" alt="student">
      </div>
      <div class="cup">
        <img src="cup-policy.png" alt="cup">
      </div>
      <div class="rocket">
        <img src="ten-lua-policy.png" alt="rocket">
      </div>
      <div class="star">
        <img src="Vector 11.png" alt="star">
      </div>
    </div>

    <div class="right-side">
      <div class="policy-item">
        <div class="num">1</div>
        <div class="text">
          <h3>Quy chế lớp học agfalhioaulflnauygbnaiònadyvunàomhadvna</h3>
          <p>sliymshuigpisog.ksiodgvdna</p>
        </div>
        <button class="plus">+</button>
      </div>

      <!-- Lặp lại các item -->
      <div class="policy-item">
        <div class="num">1</div>
        <div class="text">
          <h3>Quy chế lớp học agfalhioaulflnauygbnaiònadyvunàomhadvna</h3>
          <p>sliymshuigpisog.ksiodgvdna</p>
        </div>
        <button class="plus">+</button>
      </div>
      <div class="policy-item">
        <div class="num">1</div>
        <div class="text">
          <h3>Quy chế lớp học agfalhioaulflnauygbnaiònadyvunàomhadvna</h3>
          <p>sliymshuigpisog.ksiodgvdna</p>
        </div>
        <button class="plus">+</button>
      </div>
      <div class="policy-item">
        <div class="num">1</div>
        <div class="text">
          <h3>Quy chế lớp học agfalhioaulflnauygbnaiònadyvunàomhadvna</h3>
          <p>sliymshuigpisog.ksiodgvdna</p>
        </div>
        <button class="plus">+</button>
      </div>

      <div class="policy-item">
        <div class="num">1</div>
        <div class="text">
          <h3>Quy chế lớp học agfalhioaulflnauygbnaiònadyvunàomhadvna</h3>
          <p>sliymshuigpisog.ksiodgvdna</p>
        </div>
        <button class="plus">+</button>
      </div>
    </div>
  </div>
</div>