<div class="title">
  <h1 class="font-baloo">QUY CHẾ <span class="font-baloo">CLASSROOM HUB</span></h1>
  <p>Quy chế lớp học agfalhioaulflnauygbnaiònadyvunàomhadvna</p>
</div>

<div class="classroom-hub">
    <div class="left-side">
      <!-- Nền tròn -->
      <div class="circle circle-large"></div>
      <div class="circle circle-small"></div>
  
      <!-- Vị trí placeholder cho ảnh -->
      <div class="student-placeholder">
        <img src="policy-human.png" alt="">
      </div>
      <div class="rocket-placeholder"></div>
      <div class="trophy-placeholder"></div>
    </div>
  
    <div class="right-side">
     
      <div class="rule-list">
        <div class="rule-item">
          <div class="rule-number">1</div>
          <div class="rule-content">
            Quy chế lớp học agfalhioaulflnauyğbnaiònadyvunàomhaugmf8oahftámoiclim...
          </div>
          <div class="rule-plus">+</div>
        </div>
  
        <div class="rule-item">
          <div class="rule-number">2</div>
          <div class="rule-content">
            Quy chế lớp học agfalhioaulflnauyğbnaiònadyvunàomhaugmf8oahftámoiclim...
          </div>
          <div class="rule-plus">+</div>
        </div>
  
        <div class="rule-item">
          <div class="rule-number">3</div>
          <div class="rule-content">
            Quy chế lớp học agfalhioaulflnauyğbnaiònadyvunàomhaugmf8oahftámoiclim...
          </div>
          <div class="rule-plus">+</div>
        </div>
  
        <div class="rule-item">
          <div class="rule-number">4</div>
          <div class="rule-content">
            Quy chế lớp học agfalhioaulflnauyğbnaiònadyvunàomhaugmf8oahftámoiclim...
          </div>
          <div class="rule-plus">+</div>
        </div>
      </div>
    </div>
  </div>
  